@{
    ViewBag.Title = "课程中心";
}
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            第1节《蝴蝶飞舞》
        </h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> 首页</a></li>
            <li><a href="#">课程中心</a></li>
            <li class="active">蝴蝶飞舞</li>
        </ol>
    </section>
    <div class="pad margin no-print">
        <div class="callout callout-info" style="margin-bottom: 0!important;">
            <h4><i class="fa fa-info"></i> 课程简介:</h4>
            本节内容是Scratch入门的第一节课，主要内容是讲述神门么美阿斯顿发送到发斯蒂芬阿斯顿发斯蒂芬阿斯顿发开始打发束带结发时代峻峰阿斯顿发斯蒂芬教案
        </div>
    </div>
    <!-- Main content -->
    <section class="invoice">
        <!-- title row -->
        <div class="row">
            <div class="col-xs-12">
                <h2 class="page-header">
                    第1节 《蝴蝶飞舞》
                    <small class="pull-right">学习日期Date: 2/10/2014</small>
                </h2>
            </div>
            <!-- /.col -->
        </div>

        <!-- /.row -->
        <!-- Table row -->
        <div class="row">
            <div class="col-xs-12 table-responsive">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Qty</th>
                            <th>Product</th>
                            <th>Serial #</th>
                            <th>Description</th>
                            <th>Subtotal</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>1</td>
                            <td>Call of Duty</td>
                            <td>455-981-221</td>
                            <td>El snort testosterone trophy driving gloves handsome</td>
                            <td>$64.50</td>
                        </tr>
                        <tr>
                            <td>1</td>
                            <td>Need for Speed IV</td>
                            <td>247-925-726</td>
                            <td>Wes Anderson umami biodiesel</td>
                            <td>$50.00</td>
                        </tr>
                        <tr>
                            <td>1</td>
                            <td>Monsters DVD</td>
                            <td>735-845-642</td>
                            <td>Terry Richardson helvetica tousled street art master</td>
                            <td>$10.70</td>
                        </tr>
                        <tr>
                            <td>1</td>
                            <td>Grown Ups Blue Ray</td>
                            <td>422-568-642</td>
                            <td>Tousled lomo letterpress</td>
                            <td>$25.99</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
        <!-- this row will not appear when printing -->
        <div class="row no-print">
            <div class="col-xs-12">
                <a href="invoice-print.html" target="_blank" class="btn btn-warning"><i class="fa fa-print"></i> 学完来测试一下吧</a>
                <button type="button" class="btn btn-success pull-right">
                    <i class="fa fa-credit-card"></i> 我学会了，我要去自己创作啦！
                </button>
                <button type="button" class="btn btn-danger pull-right" style="margin-right: 5px;">
                    <i class="fa fa-download"></i> 我有疑问需要老师解答
                </button>
            </div>
        </div>
    </section>
    <!-- /.content -->
    <div class="clearfix"></div>
</div>