@{
    ViewBag.Title = "课程中心";
}

<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
        Scratch零基础入门课
        <small>本课程内容共8节，建议你按照顺序学习。</small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> 首页</a></li>
        <li class="active">课程中心</li>
    </ol>
</section>
<!-- Main content -->
<section class="content">
 
    <div class="row">
        <div class="col-md-4 col-sm-6 col-xs-12">
            <div class="info-box">
                <span class="info-box-icon bg-green">1</span>
                <div class="info-box-content">
                    
                    <span class="info-box-number"><a href="@Url.Action("Content","Home")">蝴蝶飞舞</a></span>
                    <span class="info-box-text text-gray">【知识点】5个</span>
                </div>
                <!-- /.info-box-content -->
            </div>
            <!-- /.info-box -->
        </div>
        <!-- /.col -->
        <div class="col-md-4 col-sm-6 col-xs-12">
            <div class="info-box">
                <span class="info-box-icon bg-green">2</span>
                <div class="info-box-content">
                    
                    <span class="info-box-number"><a href="###">变色的蝴蝶</a></span>
                    <span class="info-box-text text-gray">【知识点】4个</span>
                </div>
                <!-- /.info-box-content -->
            </div>
            <!-- /.info-box -->
        </div>
        <!-- /.col -->
        <div class="col-md-4 col-sm-6 col-xs-12">
            <div class="info-box">
                <span class="info-box-icon bg-green">3</span>
                <div class="info-box-content">
                    
                    <span class="info-box-number"><a href="###">美丽的花仙子</a></span>
                    <span class="info-box-text text-gray">【知识点】4个</span>
                </div>
                <!-- /.info-box-content -->
            </div>
            <!-- /.info-box -->
        </div>
        <!-- /.col -->

       
        
    </div>


</section>
<!-- /.content -->