@model StaticPagedList<SkyEntity.VideoCourse>
@using PagedList;
@using PagedList.Mvc;
@using SkyService;
@{
    ViewBag.title = "课程管理";
}

<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            Scratch零基础入门课
            <small>本课程内容共8节，建议你按照顺序学习。</small>
        </h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> 首页</a></li>
            <li class="active">课程中心</li>
        </ol>
    </section>
    <!-- Main content -->
    <section class="content">

        <div class="row">

@foreach (var item in Model)
                                {
            <div class="col-md-4 col-sm-6 col-xs-12">
                <div class="info-box">
                    <span class="info-box-icon bg-green">1</span>
                    <div class="info-box-content">

                        <span class="info-box-number"><a href="@Url.Action("Content","Home")">@item.Title</a></span>
                        <span class="info-box-text text-gray">@item.Info</span>
                    </div>
                    <!-- /.info-box-content -->
                </div>
                <!-- /.info-box -->
            </div>

}

          



        </div>


    </section>
    <!-- /.content -->
</div>