.bottom-menu ul {
    margin:20px 0px 0px 0px;
    padding:0px;
    width:100%;
    list-style:none;
    height:30px;
    line-height:30px;
}
.bottom-menu ul li {
    float:left;
    width:80px;
    text-align:left;
}
.login-page {
    height:600px;
    background-image:url('/Resource/img/loginbg.png')
}